@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 95vh;
  line-height: 1.5;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;
}

main {
  color: #777;
}

.typo-headerTitleBox {
  position: absolute;
  top: 40%;
  left: 50%;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, -50%);
}
.typo-headerTitleBox__main {
  display: block;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out;
}
.typo-headerTitleBox__sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  animation: moveInRight 1s ease-out;
}

.typo-sectionTitle {
  width: 100%;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.typo-sectionTitle:hover {
  transform: skew(5deg, 2deg) scale(1.1);
  text-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
}

.typo-paragraphBox__h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.typo-paragraphBox__p {
  font-size: 1.5rem;
}
.typo-paragraphBox :not(:last-child) {
  margin-bottom: 2.5rem;
}

.u-margin-b-large {
  margin-bottom: 8rem;
}

.u-margin-b-medium {
  margin-bottom: 4rem;
}

.u-margin-b-small {
  margin-bottom: 2rem;
}

.u-text-center {
  text-align: center;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn--white {
  font-size: 1.6rem;
  padding: 2rem 5rem;
  border-radius: 10rem;
  color: #777;
  background-color: white;
  position: relative;
  transition: all 0.1s;
  display: inline-block;
  margin: 6rem auto 0 auto;
  text-transform: uppercase;
}
.btn--white::after {
  content: "";
  background-color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 10rem;
  transition: all 0.3s;
}
.btn--green {
  font-size: 1.6rem;
  padding: 1.5rem 5rem;
  border-radius: 10rem;
  color: white;
  background-color: #55c57a;
  border: none;
  position: relative;
  transition: all 0.1s;
  display: inline-block;
  text-transform: uppercase;
}
.btn--green::after {
  content: "";
  background-color: #55c57a;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 10rem;
  transition: all 0.3s;
}
.btn--text {
  font-size: 1.5rem;
}
.btn--text:link, .btn--text:visited {
  display: inline-block;
  text-decoration: none;
  color: #55c57a;
  padding: 5px 2px;
  border-bottom: 1px solid #55c57a;
}
.btn--text:hover {
  background-color: #55c57a;
  color: white;
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:link, .btn:visited {
  text-decoration: none;
}
.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:hover::after {
  display: inline-block;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.4);
}

.composition {
  position: relative;
}
.composition__imgs {
  width: 55%;
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 0.8rem;
}
.composition__imgs--1 {
  z-index: 1;
  position: absolute;
  top: -2rem;
}
.composition__imgs--2 {
  z-index: 3;
  top: 10rem;
  left: 10rem;
  position: absolute;
}
.composition__imgs--3 {
  z-index: 2;
  right: 0;
  position: absolute;
}
.composition__imgs:hover {
  transform: scale(1.1);
  outline: 1.5rem solid #55c57a;
  border-radius: 2px;
  z-index: 10;
}
.composition:hover .composition__imgs:not(:hover) {
  transform: scale(0.9);
}

.card__feature {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}
.card__feature--icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.card__feature:hover {
  transform: translateY(-1rem) scale(1.02);
}

.card-rotate-style {
  position: relative;
  height: 50rem;
  border-radius: 1rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  backface-visibility: hidden;
  transition: transform 0.8s ease;
}
.card-rotate-style__front {
  overflow: hidden;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  background-color: white;
}
.card-rotate-style__back {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  transform: rotateY(180deg);
}
.card-rotate-style__back--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-rotate-style__back--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card-rotate-style__back--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card-rotate-style:hover .card-rotate-style__front {
  transform: rotateY(-180deg);
}
.card-rotate-style:hover .card-rotate-style__back {
  transform: rotateY(0);
}
.card-rotate-style__img {
  width: 100%;
  height: 22rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card-rotate-style__img--1 {
  background-size: cover;
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
  background-blend-mode: screen;
}
.card-rotate-style__img--2 {
  background-size: cover;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg");
  background-blend-mode: screen;
}
.card-rotate-style__img--3 {
  background-size: cover;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg");
  background-blend-mode: screen;
}
.card-rotate-style__text-title {
  position: absolute;
  text-align: right;
  right: 5%;
  top: 22%;
  width: 60%;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  font-size: 3.2rem;
}
.card-rotate-style__text-title--span {
  padding: 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card-rotate-style__text-title--span-1 {
  background-image: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
.card-rotate-style__text-title--span-2 {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}
.card-rotate-style__text-title--span-3 {
  background-image: linear-gradient(to right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}
.card-rotate-style__text-description {
  width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
}
.card-rotate-style__text-description li {
  padding: 1.5rem;
}
.card-rotate-style__text-description li:not(:last-child) {
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
}
.card-rotate-style__text-b {
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  padding: 10rem 0 0 0;
  color: white;
}
.card-rotate-style__text-b--only {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.card-rotate-style__text-b--value {
  margin-top: 1rem;
  font-weight: 200;
  font-size: 7rem;
}

.video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.video__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  margin: 0 auto;
}
.form__group {
  font-size: 1.2rem;
}
.form__group:not(:last-child) {
  margin-bottom: 3.5rem;
}
.form__group--input {
  padding-left: 2rem;
  border: none;
  width: 90%;
  height: 5rem;
  font-size: 1.6rem;
  font-family: inherit;
  transition: all 0.1s;
}
.form__group--input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid #55c57a;
}
.form__group--input:focus:invalid {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid orangered;
}
.form__group--label {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: all 0.1s;
  display: block;
  padding-left: 2rem;
}
.form__group--input:placeholder-shown + .form__group--label {
  transform: translateY(-200%);
  opacity: 0;
  visibility: hidden;
}
.form__group--radio {
  font-size: 2rem;
  display: inline-block;
  margin-right: 3rem;
}
.form__group--radio input {
  display: none;
}
.form__group--radio input:checked + span::after {
  opacity: 1;
}
.form__group--radio span {
  transform: translateY(25%);
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50rem;
  border: 5px solid #55c57a;
  position: relative;
}
.form__group--radio span::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
}
.form__group--radio label {
  padding-left: 0.5rem;
}

.header {
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 0 100%, 100% 75vh, 100% 0);
}
.header-logoBox {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header-logoBox__logo {
  height: 5rem;
}

.grid {
  max-width: 114rem;
  margin: 0 auto;
}

.row {
  width: 100%;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem * 1) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
.row .col-2-of-3 {
  width: calc( ((100% - 6rem * 2) / 3) * 2 + 6rem );
}
.row .col-2-of-4 {
  width: calc( ((100% - 6rem * 3) / 4) * 2 + 6rem );
}
.row .col-3-of-4 {
  width: calc( ((100% - 6rem * 3) / 4) * 3 + 6rem * 2 );
}

.nav {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.nav__hack {
  display: none;
}
.nav__hack:checked ~ .nav__bg {
  transform: scale(70);
}
.nav__hack:checked ~ .nav__list {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.nav__hack:checked + .nav__click > .nav__hamburger {
  background-color: transparent;
}
.nav__hack:checked + .nav__click > .nav__hamburger::before {
  top: 0;
  transform: rotate(135deg);
}
.nav__hack:checked + .nav__click > .nav__hamburger::after {
  top: 0;
  transform: rotate(-135deg);
}
.nav__click {
  background-color: #f7f7f7;
  top: 3.5rem;
  right: 3.5rem;
  position: fixed;
  border-radius: 50rem;
  width: 7rem;
  height: 7rem;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.nav__hamburger {
  position: relative;
  margin-top: 3.2rem;
}
.nav__hamburger, .nav__hamburger::after, .nav__hamburger::before {
  display: inline-block;
  transition: transform 0.2s;
  background-color: black;
  width: 3rem;
  height: 3px;
}
.nav__hamburger::before {
  content: "";
  top: -1rem;
  left: 0;
  position: absolute;
}
.nav__hamburger::after {
  content: "";
  top: 1rem;
  left: 0;
  position: absolute;
}
.nav__bg {
  transition: cubic-bezier(0.99, 0, 0.2, 1) 0.7s;
  background-image: radial-gradient(#7ed56f, #28b485);
  top: 4rem;
  right: 4rem;
  position: fixed;
  border-radius: 50rem;
  width: 6rem;
  height: 6rem;
  z-index: 1000;
}
.nav__list {
  transition: cubic-bezier(0.82, -0.58, 0.24, 1.38) 0.7s;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-1000%, -50%);
  position: fixed;
  z-index: 1500;
  list-style: none;
  font-size: 4rem;
}
.nav__item {
  margin: 2.5rem;
  text-align: center;
}
.nav__link {
  display: inline-block;
  border-radius: 0.2rem;
  padding: 1.5rem;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 230%;
  background-position-x: 0rem;
  transition: all 0.2s cubic-bezier(0, 0.33, 1, 0.66);
}
.nav__link:link, .nav__link:visited {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.nav__link:hover {
  cursor: pointer;
  background-position-x: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}

.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
}
.section-about__container {
  max-width: 114rem;
  margin: 0 auto;
}

.section-feature {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -8.5rem;
}
.section-feature > .section-feature__container {
  transform: skewY(5deg);
}
.section-feature__container {
  max-width: 114rem;
  padding: 20rem 0;
  margin: 0 auto;
}

.section-tours {
  margin-top: -8.5rem;
}
.section-tours__container {
  text-align: center;
  max-width: 114rem;
  padding: 20rem 0 15rem 0;
  margin: 0 auto;
}

.section-share {
  position: relative;
  background-color: transparent;
  padding: 20rem 0;
  width: 100%;
}
.section-share::after {
  content: "";
  display: table;
  clear: both;
}
.section-share__container {
  width: 114rem;
  margin: 0 auto;
}
.section-share__story {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  transform: skewX(-10deg);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.2);
}
.section-share__story > * {
  transform: skewX(10deg);
}
.section-share__story--circle {
  margin-right: 5rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  float: left;
  border-radius: 50rem;
  background-color: saddlebrown;
  width: 15rem;
  height: 15rem;
}

.book {
  width: 100%;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.book__container {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  width: 60%;
  height: 50rem;
  margin: 0 auto;
}
.book__input-area {
  width: 50%;
  padding: 5rem;
}

/*# sourceMappingURL=style.css.map */
