html {
  font-size: 62.5%;

  @media only screen and (max-width: $rwd-largest) {
    font-size: 50%;
  }
}

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  line-height: 1.6rem;
  font-family: "Open Sans";
  border: none;
  outline: none;
  box-sizing: border-box;
}
