//* 重設基本樣式

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10px

  @include response(table-w) {
    font-size: 56.25%; //9
  }

  @include response(table-h) {
    font-size: 50%; //8
  }

  @include response(phone) {
    font-size: 43.75%; //7
  }

  @include response(big-pc) {
    font-size: 75%; //12
  }
}

body {
  width: 100%;
  height: 95vh;
  line-height: 1.5;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;

  @include response(table-w) {
    padding: 0;
  }
}

main {
  color: $color-font-gray;
}
