//* 字型、字體

.typo-headerTitleBox {
  position: absolute;
  top: 40%;
  left: 50%;
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, -50%);

  &__main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: moveInLeft 1s ease-out;

    @include response(table-h) {
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      margin-bottom: 2rem;
    }

    @include response(phone) {
      font-size: 4.5rem;
      letter-spacing: 2rem;
    }
  }

  &__sub {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;

    @include response(table-h) {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1rem;
    }

    @include response(phone) {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1rem;
    }
  }
}

.typo-sectionTitle {
  // text-align: center;
  font-size: $font-title-large;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skew(5deg, 3deg) scale(1.2);
    text-shadow: 0rem 1rem 3rem rgba($color-shadow, 0.2);
  }
}

.typo-paragraphBox {
  @include response(table-w) {
    margin: 0 auto;
  }

  &__h2 {
    text-transform: uppercase;
    font-size: $font-title-medium;
  }

  &__p {
    font-size: $font-default;
  }

  :not(:last-child) {
    margin-bottom: 2.5rem;

    @include response(table-w) {
      margin-bottom: 3rem;
    }
  }
}
