//COLOR
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-2nd-light: #ffb900;
$color-2nd-dark: #ff7730;

$color-3th-light: #2998ff;
$color-3th-dark: #5643fa;

$color-shadow: rgba(0, 0, 0);
$color-black-light: #333;

$color-font-gray: #777;
$color-gray-light: #f7f7f7;
$color-font-white: white;

$color-bg-white: white;
$color-brown-light: #b89f82;
$color-white-rice: #ffffed;

//WIDTH
$width-pc-rwd: 114rem;

$width-grid-gutterX: 6rem;
$width-grid-gutterY: 5rem;

//FONT
$font-title-large: 3.6rem;
$font-title-medium: 1.6rem;
$font-title-small: 1.2rem;

$font-title-cardR-title: 3.2rem;
$font-title-cardR-value: 7rem;

$font-default: 1.5rem;
