.composition {
  position: relative;

  @include response(table-w) {
    text-align: center;
  }

  &__imgs {
    width: 55%;
    border-radius: 2px;
    transition: all 0.2s;
    outline-offset: 0.8rem;

    &--1 {
      z-index: 1;
      position: absolute;
      top: -2rem;

      @include response(table-w) {
        top: 0;
        left: 5rem;
      }
    }

    &--2 {
      z-index: 3;
      top: 10rem;
      left: 10rem;
      position: absolute;

      @include response(table-w) {
        top: 5rem;
        left: 0rem;
      }
    }

    &--3 {
      z-index: 2;
      right: 0;
      position: absolute;

      @include response(table-w) {
        top: 0;
        left: -5rem;
      }
    }

    &:hover {
      transform: scale(1.1);
      outline: 1.5rem solid $color-primary;
      border-radius: 2px;
      z-index: 10;
    }

    @include response(table-w) {
      width: 25%;
      position: relative;
    }

    @include response(table-h) {
      width: 30%;
      position: relative;
    }

    @include response(phone) {
      width: 60%;
      position: relative;
      top: 0rem;
      left: 0rem;
      display: inline-block;
    }
  }

  &:hover &__imgs:not(:hover) {
    transform: scale(0.9);
  }
}
